#registro {
    background-color: #f9f9f9;
}

#registro form {
    display: flex;
    flex-direction: column;
}

#registro form label {
    margin-bottom: 10px;
}

#registro form input,
#registro form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registro form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#registro form button:hover {
    background-color: #45a049;
}

/* Estilos específicos para la pantalla de indicaciones */
#indicaciones {
    background-color: #ffffcc;
}

#indicaciones p {
    margin-bottom: 15px;
}

#indicaciones button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#indicaciones button:hover {
    background-color: #45a049;
}

/* Estilos específicos para la vista de productos */
#productos .barra-navegacion {
    margin-bottom: 20px;
}

#productos .barra-navegacion button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#productos .barra-navegacion button:hover {
    background-color: #45a049;
}

/* Estilos específicos para el buscador de productos */
#buscador {
    background-color: #ccf2ff;
}

#buscador input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buscador button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buscador button:hover {
    background-color: #45a049;
}

/* Estilos específicos para la lista de resultados */
#resultados table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#resultados th, #resultados td {
    padding: 10px;
    border: 1px solid #ddd;
}

#resultados th {
    background-color: #f2f2f2;
}

#resultados tr:nth-child(even) {
    background-color: #f2f2f2;
}

#resultados tr:hover {
    background-color: #ddd;
}