body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para ocupar al menos toda la altura de la ventana */
}

header {
    background-color: #846ec0;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    margin: 0;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"],
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: #5221d8;
}
.logo-container {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.logo-container img {
    width: 150px; 
    height: auto; 
    border: 2px solid #ccc; 
    padding: 10px; 
}
.title-box {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
}

.title-box h1 {
    font-size: 36px;
    font-family: Arial, sans-serif; 
}


.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; /* Ajusta esto según cómo quieras distribuir las cartas */
}

.card {
    background-color: #51476d;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex-grow: 1; /* Todas las cartas crecerán de manera uniforme */
    max-width: 300px; /* Establece un tamaño máximo para las cartas */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}


.pagination {
    text-align: center;
}

.pagination button {
    background-color: #453b63;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #7e3ff2;
}

.pagination .active {
    background-color: #7e3ff2;
}

#search-container {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-container label {
    margin-right: 10px;
}

#search-container input {
    margin-right: 20px;
    padding: 5px;
}

#resultados-container {
    padding: 20px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}